.btn {
    padding: 12px 20px;
    border: 1px solid black;
    margin: 10px;
    max-width: 200px;
    text-align: center;
    background-color: var(--color);
    color: white;
    cursor: pointer;

    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.btn:hover {
    opacity: 0.8;
}

.btn:active {
    transform: translateY(1px);
    -webkit-transform: translateY(1px);
    -moz-transform: translateY(1px);
    -ms-transform: translateY(1px);
    -o-transform: translateY(1px);
}